body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: clip;
}

html, body {
    height: 100%;
    margin: 0;
}

.calc {
    background-color: #fbf8f8;
    width: auto;
    border: 1px solid #d3d2d2;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.18);

    transform: scale(0.9);
}

/*display*/
.display {
    background-color: #d3d2d2;
    height:120px;
    width:100%;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#num-display {
    font-family: cascadia code;
    font-size: 400%;
    align-self: flex-end;
    margin-right: 10px;
    transition: all ease 500ms;
}
/*buttons*/
.buttons {
    display: grid;
    grid-template: 70px 70px 70px 70px 70px 70px/ 70px 70px 70px 70px ;
    gap: 10px;

}

.btn {
    height: 70px;
    width: 70px ; 
    border-radius: 10px;
    /*font: 500 22px/1 Inter;*/
    font-size: 22px;
    cursor: pointer;
    transform: scale(1);
    transition: all 250ms;
    border: none;
    background-color: #f1eded;
}

.btn:hover {
    transform: scale(1.05);
    transition: all 250ms;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    
}

.btn:focus {
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
}

.num-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.num-2 {
    grid-column-start: 2;
}

.num-3 {
    grid-column-start: 3;
}

.num-4 {
    grid-row-start: 3;
}

.num-5 {
    grid-column-start: 2;
}

.num-7 {
    grid-row-start: 4;
}

.num-8 {
    grid-column-start: 2;
}

.num-0 {
    grid-column: span 2;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    transform: scale(1);
    transition: all 250ms;
    border: none;
}

.num-0:hover {
    transition: all 250ms;
    transform: scale(1.07);
}

.num-0:focus {
    background-color: lightgray;
}

/*operator buttons*/
.opr-btn {
    color: white;
    background-color: #ff8a3d;
    font-weight: bold;
}

.opr-btn:focus {
    background-color: rgb(255, 103, 2);
}

.more-opr-btn {
    background-color: rgb(221, 218, 218);
    font-weight: bold;
}

.black-btns {
    background-color: black;
}

.black-btns:focus {
    background-color: black;
}


.opr-1 {
    grid-row: 1/ 2;
    grid-column: 4/ 5;
}

.opr-2 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.opr-3 {
    grid-row: 3 / 3;
    grid-column: 4 / 5;
}

.opr-4 {
    grid-row: 4 /4;
    grid-column: 4 / 4;
}



.opr-5 {
    grid-column: span 4;
    width: auto;
}