* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:cascadia code, sans-serif;
}

.wrapper {
    margin:0;
    text-align: center;


}
/******************/
/*  Navigation  */
/*****************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0ea5e9;
    box-shadow: 5px 5px 50px #005982;
}

header h1 {
    padding-left: 25px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

nav li {
    margin-right: 12px;
}

nav a {
    text-decoration: none;
    color: #075985;
    transform: scale(1);
    transition: all 250ms;
    padding: .25em;
}

nav a:hover {
    color: darkblue;
    transform: scale(1.1);
}

.current-page {
    border-bottom: 2px solid #075985;
    padding-bottom: 1px;
}

.current-page:hover {
    color: #075985;
}

@media (max-width: 650px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
    }

    header h1 {
        text-align: center;
        padding-left: 5px;
    }
}


/******************/
/* intro section */
/*****************/

.intro {
    background-image: url(../images/image.png);
    background-size: cover;
    background-color: grey;
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 1em;

    min-height: 50vh;
    padding: 3em;
}

.heading {
    order: 0;
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0;
    font-weight: bold;
}

.heading + p {
    color: whitesmoke;
    font-size: .9rem;
    font-weight: 600;

}



/*************************/
/* main content section */
/*************************/

.main-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #e0f2fe;

}

h2 {
    font-size: 1.3125rem;
}

h2 + p {
    font-size: 13px;
}

.safety-text {
    font-size: 0.625rem;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.intro,
.main-content {
    padding: 0 15px;
}
/**********/
/* Forms */
/*********/
.info-colector {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    background: white;
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

input, .btn {
    width: 100%;
    border-radius: 5px;
}

input {
    font-family: inherit;
    margin-bottom: .75em;
    text-align: inherit;
    padding: .25em;
    border-radius: 5px;
    border: solid black 2px;
    transform: scale(1);
    transition: transform 250ms;
}

.agreement {
    margin-top: -15px;
    display: flex;
    align-items: baseline;
    
}

.agreement-checkbox {
    width: 20px;
}

.agreement:focus {
    outline: 5px solid orange;
}

input:focus {
    transform: scale(1.1);
    transition: transform 250ms;
}

.btn {
    display: inline-block;
    padding: .35em;
    font-size: 15px;
    font-weight: 700;
    background-image: linear-gradient(to right, red, orange);
    color: rgba(225, 225, 225, 95%);
    border: 0;
    transform: scale(1);
    transition: transform 250ms;
}

.btn:hover, .btn:focus {
    transform: scale(1.1);
    transition: transform 250ms;

}




/*******************/
/* media queries */
/*****************/




@media (min-width: 600px) {
    .wrapper {
        display: flex;
    }
    
    .heading {
        font-size: 3.5rem;
    }
    
    h2{
        font-size: 1.75rem;
    }
    h2 + p {
        font-size: 17px;
    }
    .intro, .main-content {
        width: 50%;
        min-height: 100vh;
    }
    .heading + p {
        font-size: 1.125rem;
    }
    .main-content {
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }

}



