* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/*/////////////////////
///// NAVIGATION /////
///////////////////*/
/*
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0ea5e9;
    box-shadow: 5px 5px 40px #005982;

}

header h1 {
    padding-left: 25px;
    font-family: Cascadia Code;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

nav li {
    margin-right: 12px;
    font-family: Cascadia Code;
}

nav a {
    text-decoration: none;
    color: #075985;
    transform: scale(1);
    transition: all 250ms;
    padding: .25em;
    font-family: Cascadia Code;
}

nav a:hover {
    color: darkblue;
    transform: scale(1.1);
}

.current-page {
    border-bottom: 2px solid #075985;
    padding-bottom: 1px;
}

.current-page:hover {
    color: #075985;
}

@media (max-width: 650px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
    }

    header h1 {
        text-align: center;
        padding-left: 5px;
    }
}
*/

header {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav ul {
        flex-direction: column;
        align-items: center;
}

nav li {
        margin: 5px 0;
}

header h1 {
        text-align: center;
        padding-left: 5px;
        font-family: cascadia code;
}
nav a {
    text-decoration: none;
    color: #075985;
    transform: scale(1);
    transition: all 250ms;
    padding: .25em;
    font-family: Cascadia Code;
}

nav a:hover {
    color: rgb(21, 255, 251);
    transform: scale(1.1);
}

.current-page {
    border-bottom: 2px solid #075985;
    padding-bottom: 1px;
}

.current-page:hover {
    color: #075985;
}

nav li {
    margin-right: 12px;
    font-family: Cascadia Code;
    margin-bottom: 60px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

header {
    padding: 10px 20px;
    background-color: #0ea5e9;
    box-shadow: 5px 5px 40px #005982;
}

.close-button {
    margin-left: auto ;
    position: absolute;
    left: 20px;
    top: 0px;
    font-size: 100px;
    background: 0;
    border: 0;
    color: lightblue;
    cursor: pointer;
}
.navigation-open {
    transform: translateX(-100%);
}


nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left:100%;
    bottom: 0;
    background:#002437;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transform: translateX(0);
    transition: transform 250ms;
}

.open-button {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}